@model CRM.Areas.GlobalData.Models.ProfileComplexModel
@{
    ViewBag.Title = "Create";
}
<ul class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li><a href="/globaldata/profile/index"><i class="fa fa-home"></i>车辆信息管理</a></li>
    <li class="active">新建车辆信息</li>
</ul>

<div>
    <section class="panel panel-default">
        <header class="panel-heading font-bold">新建车辆信息</header>

        <div class="panel-body">

            <form id="form1" class="bs-example form-horizontal" action="/globaldata/profile/car" method="post">
                <input type="hidden" id="Car_IDNo" name="Car.IDNo" value="@ViewBag.idno" />
                @*<div class="form-group">
                    @Html.LabelFor(model => model.Car.IDNo, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10 required">
                        <input type="text" value="@ViewBag.idno" readonly="readonly" class="form-control form-control-large" />
                        @Html.ValidationMessageFor(model => model.Car.IDNo, "", new { @class = "text-danger" })
                    </div>
                </div>*@
                <div class="form-group">
                    @Html.LabelFor(model => model.Car.Brand, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.EditorFor(model => model.Car.Brand, new { htmlAttributes = new { @class = "form-control form-control-large" } })
                        @Html.ValidationMessageFor(model => model.Car.Brand, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Car.PurchasedDate, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10 required">
                        @Html.EditorFor(model => model.Car.PurchasedDate, new { htmlAttributes = new { @class = "form-control form-control-large" } })
                        @Html.ValidationMessageFor(model => model.Car.PurchasedDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Car.IsSecondHand, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.EditorFor(model => model.Car.IsSecondHand, new { htmlAttributes = new { @class = "form-control form-control-large" } })
                        @Html.ValidationMessageFor(model => model.Car.IsSecondHand, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Car.VMT, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.EditorFor(model => model.Car.VMT, new { htmlAttributes = new { @class = "form-control form-control-large" } })
                        @Html.ValidationMessageFor(model => model.Car.VMT, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Car.Valuation, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.EditorFor(model => model.Car.Valuation, new { htmlAttributes = new { @class = "form-control form-control-large" } })
                        @Html.ValidationMessageFor(model => model.Car.Valuation, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Car.LicenseImg, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        <input type="hidden" id="Car.LicenseImg" name="Car_LicenseImg" />
                        <a id="btnfileCar_LicenseImg" class="btn btn-default">行驶证<input type="file" id="fileCar_LicenseImg" /></a>
                        <img id="Car_LicenseImgPreview" style="width:100px;" />
                        @Html.ValidationMessageFor(model => model.Car.LicenseImg, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Car.Remark, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10 ">
                        @Html.TextAreaFor(model => model.Car.Remark, new { @class = "form-control form-control-large" })
                        @Html.ValidationMessageFor(model => model.Car.Remark, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <a id="btnSave" class="btn btn-sm btn-primary">保存</a>
                        <a href="/globaldata/profile/" class="btn btn-sm btn-default">取消</a>
                    </div>
                </div>
            </form>
        </div>

    </section>
</div>

@section css{

    <link href="~/Areas/GlobalData/Content/css/mui.toast.css" rel="stylesheet" />
    <link href="~/Areas/GlobalData/Content/Scripts/fancybox/jquery.fancybox.min.css" rel="stylesheet" />
<link href="~/Areas/GlobalData/Content/js/datepicker/datepicker.css" rel="stylesheet" />

}

@section scripts{
    <script src="~/Areas/GlobalData/Content/js/mui.js"></script>
    <script src="~/Areas/GlobalData/Content/js/jquery-1.11.0.min.js"></script>

    <script src="~/Areas/GlobalData/Content/Scripts/fancybox/jquery.fancybox.min.js"></script>
    <script src="~/Areas/GlobalData/Content/js/img-tool/upload.js"></script>
    <script src="~/Areas/GlobalData/Content/Scripts/jquery.dialog.waitting-1.0/jquery.dialog.waitting-1.0.js"></script>
<script src="~/Areas/GlobalData/Content/js/datepicker/bootstrap-datepicker.js"></script>
    <script>

        $().ready(function () {
            $('#Car_PurchasedDate').datepicker();

            $('#btnSave').click(function () {
               
                $.ajax({
                    type: 'post',
                    url: "/globaldata/profile/car",
                    data: $('#form1').serialize(),
                    dataType: 'json',
                    success: function (data) {

                        mui.toast(data.Message);
                        console.log(data.Message);
                        if (data.Status) {
                            window.location.href = '/globaldata/profile';
                        }
                    },
                    error: function (arg1, arg2, arg3) {
                        console.log(arg3);
                    }
                });
            });

        });

        $('#fileCar_LicenseImg').change(function () {

            var file = $(this)[0].files[0];
            if (!file) {
                mui.toast('未选择任何文件');
                return;
            }
            dialog.hide();
            dialog.show({ title: '正在上传文件...' });
            $('#Car_LicenseImgPreview').attr('src', File.getObjectURL(file));

            var option = {
                file: file,
                width: 1000,
                callback: function (data) {

                    if (data.url) {
                        $('#Car_LicenseImg').val(data.url);
                    }
                    dialog.hide();

                }, error: function (arg1, arg2, arg3) {
                    dialog.hide();
                }
            };

            File.send(option);
        });

    </script>
}

