@model CRM.Areas.ManagementCenter.Models.PriceStrategyComposite
@{
    ViewBag.Title = "Create";
}
@section css{
    <style>
        .control-label {
            padding-top: 0 !important;
        }

        .table-responsive input[type=text] {
            text-align: center;
        }
    </style>
}

@section scripts{
    <script>

        $().ready(function () {



        });
    </script>
}




<ul class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li><a href="index.html"><i class="fa fa-home"></i> 价格策略管理</a></li>
    <li class="active">价格策略详情</li>
</ul>

<div>
    <section class="panel panel-default">
        <header class="panel-heading font-bold">价格策略详情</header>
        <div class="panel-body">

            <div class="row">


                <div class="form-group">
                    @Html.LabelFor(model => model.PriceStrategyDTO.Name, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-12">
                        @Model.PriceStrategyDTO.Name
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PriceStrategyDTO.BeginDate, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-12">
                        @Model.PriceStrategyDTO.BeginDate.ToString("yyyy-MM-dd")
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PriceStrategyDTO.EndDate, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-12">
                        @Model.PriceStrategyDTO.EndDate.ToString("yyyy-MM-dd")
                    </div>
                </div>
               
                <div class="form-group">
                    @Html.LabelFor(model => model.PriceStrategyDTO.CreatedDate, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-12">
                        @Model.PriceStrategyDTO.CreatedDate.ToString("yyyy-MM-dd hh:mm:ss")
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PriceStrategyDTO.CreatedBy, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-12">
                        @Model.PriceStrategyDTO.CreatedByUser.Name
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PriceStrategyDTO.Comment, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-12">
                        @Model.PriceStrategyDTO.Comment
                    </div>
                </div>
            </div>
            @{
                int index = 0;
                if (Model.PriceStrategyDTO.PriceStrategyDetailList.Count > 0)
                {
                    <form class="bs-example form-horizontal" action="/admin/pricestrategy/save" method="post">
                        <div class="table-responsive" style="border-top:1px dashed #e4e4e4;padding-top:10px;border-bottom:1px dashed #e4e4e4;padding-bottom:10px;">
                            <table class="table table-striped b-t b-light text-sm">
                                <thead>
                                    <tr>
                                        <th width="20"><input type="checkbox"></th>
                                        <th class="th-sortable" data-toggle="class">产品名称 <span class="th-sort"> <i class="fa fa-sort-down text"></i> <i class="fa fa-sort-up text-active"></i> <i class="fa fa-sort"></i> </span> </th>
                                        <th>执行价格</th>
                                        <th>续费价格</th>
                                        <th>折扣</th>
                                        <th>最小购买量</th>
                                        <th>创建日期</th>
                                        <th width="30"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                    foreach (var item in Model.PriceStrategyDTO.PriceStrategyDetailList)
                    {
                        <tr>
                            <td><input type="checkbox" name="post[]" value="3"></td>
                            <td>@item.Product.Name</td>

                            <td><input name="PriceStrategyDetailDTOList[@index].Price" type="text" value="@item.Price" style="width:100px;" /></td>
                            <td><input name="PriceStrategyDetailDTOList[@index].RenewPrice" type="text" value="@item.RenewPrice" style="width:100px;" /></td>
                            <td><input name="PriceStrategyDetailDTOList[@index].DiscountRate" type="text" value="@item.DiscountRate" style="width:50px;" /> % (按百分比计算，例如：95折填写95)</td>
                            <td><input name="PriceStrategyDetailDTOList[@index].Minimum" type="text" value="@item.Minimum" /></td>

                            <td>@item.CreatedDate.ToString("yyyy-MM-dd hh:mm:ss")</td>
                            <td>
                                <input type="hidden" name="PriceStrategyDTO.Id" value="@Model.PriceStrategyDTO.Id" />
                                <input type="hidden" name="PriceStrategyDetailDTOList[@index].PriceStrategyId" value="@Model.PriceStrategyDTO.Id" />
                                <input type="hidden" name="PriceStrategyDetailDTOList[@index].Id" value="@item.Id" />
                                <input type="hidden" name="PriceStrategyDetailDTOList[@index].ProductId" value="@item.ProductId" />
                            </td>
                        </tr>
                        index++;
                    }
                                    }

                                </tbody>
                            </table>
                        </div>
                        <div class="form-group" style="margin-top:10px;">
                            <div class="col-lg-offset-2 col-lg-10 ">
                                <input type="submit" class="btn btn-sm btn-primary" value="保存" />
                                <a href="/admin/pricestrategy" class="btn btn-sm btn-default">取消</a>
                            </div>
                        </div>
                    </form>
                }
                if (Model.ProductDTOList.Where(i => !Model.PriceStrategyDTO.PriceStrategyDetailList.Exists(item => item.ProductId == i.Id)).Count() > 0)
                {
                    <span>新产品</span>
                    <form class="bs-example form-horizontal" action="/admin/pricestrategy/submit" method="post">
                        <div class="table-responsive" style="border-top:1px dashed #e4e4e4;padding-top:10px;border-bottom:1px dashed #e4e4e4;padding-bottom:10px;">
                            <table class="table table-striped b-t b-light text-sm">
                                <thead>
                                    <tr>
                                        <th width="20"><input type="checkbox"></th>
                                        <th class="th-sortable" data-toggle="class">产品名称 <span class="th-sort"> <i class="fa fa-sort-down text"></i> <i class="fa fa-sort-up text-active"></i> <i class="fa fa-sort"></i> </span> </th>
                                        <th>执行价格</th>
                                        <th>续费价格</th>
                                        <th>折扣</th>
                                        <th>最小购买量</th>
                                        <th width="30"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                    index = 0;
                    foreach (var item in Model.ProductDTOList.Where(i => !Model.PriceStrategyDTO.PriceStrategyDetailList.Exists(item=>item.ProductId==i.Id)))
                    {
                        <tr>
                            <td><input type="checkbox" name="post[]" value="3"></td>
                            <td>@item.Name</td>
                            <td><input name="PriceStrategyDetailDTOList[@index].Price" type="text" value="0" style="width:100px;" /></td>
                            <td><input name="PriceStrategyDetailDTOList[@index].RenewPrice" type="text" value="0" style="width:100px;" /></td>
                            <td><input name="PriceStrategyDetailDTOList[@index].DiscountRate" type="text" value="0" style="width:50px;" /> % (按百分比计算，例如：95折填写95)</td>
                            <td><input name="PriceStrategyDetailDTOList[@index].Minimum" type="text" value="1" /></td>
                            <td>
                                <input type="hidden" name="PriceStrategyDTO.Id" value="@Model.PriceStrategyDTO.Id" />
                                <input type="hidden" name="PriceStrategyDetailDTOList[@index].PriceStrategyId" value="@Model.PriceStrategyDTO.Id" />
                                <input type="hidden" name="PriceStrategyDetailDTOList[@index].ProductId" value="@item.Id" />
                            </td>
                        </tr>
                        index++;
                    }
}

                                </tbody>
                            </table>
                        </div>

                        <div class="form-group" style="margin-top:10px;">
                            <div class="col-lg-offset-2 col-lg-10 ">
                                <input type="submit" class="btn btn-sm btn-primary" value="提交" />
                                <a href="/admin/pricestrategy" class="btn btn-sm btn-default">取消</a>
                            </div>
                        </div>
                    </form>
                }
            }
        </div>
    </section>
</div>
