@model List<Ingenious.DTO.G_ADDTO>
@{
    ViewBag.Title = "Index";
}

@section scripts{

    <script>
        $().ready(function () {

        });
    </script>
}
<ul class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li><a href="#"><i class="fa fa-home"></i> 产品管理</a></li>
    @*<li class="active">Workset</li>*@
</ul>
<section class="panel panel-default">
    <header class="panel-heading"> 产品列表 </header>
    <div class="row text-sm wrapper">
        <div class="col-sm-3 m-b-xs">
            <a class="btn btn-sm btn-primary" href="/jiajudai/sys/ad/create"> 新建广告</a>
        </div>
        <form id="userSearchForm" action="/jiajudai/sys/ad/index" method="post">

            <div class="col-sm-3 pull-right ">
                <div class="input-group">
                    <select id="code" name="code">
                        <option value="">选择分类</option>
                        <option value="首页轮播图">首页轮播图</option>
                        <option value="中间">中间</option>
                        <option value="底部">底部</option>
                    </select>

                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-info btn-icon"><i class="fa fa-search"></i></button>
                    </span>
                </div>

            </div>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-striped b-t b-light text-sm">
            <thead>
                <tr>
                    <th width="20"><input type="checkbox"></th>
                    <th>名称</th>
                    <th>编码</th>
                    <th>图片</th>
                    <th>链接</th>
                    <th>启用日期</th>
                    <th>结束日期</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in @Model)
                    {
                        <tr>
                            <td><input type="checkbox" name="post[]" value="3"></td>
                            <td>@item.Name</td>
                            <td>@item.Code</td>
                            <td><img src="@item.Image" style="width:50px;" /></td>
                            <td>@item.Url</td>
                            <td>
                                @{
                        if (item.BeginDate.HasValue)
                        {
                            @Html.Raw(item.BeginDate.Value.ToString("yyyy-MM-dd"))
                        }
                                }
                            </td>
                            <td>
                                @{
                        if (item.EndDate.HasValue)
                        {
                            @Html.Raw(item.EndDate.Value.ToString("yyyy-MM-dd"))
                        }
                                }
                            </td>
                            <td>
                                <a href="/jiajudai/sys/ad/edit/@item.Id"><i class="fa fa-edit"></i></a>
                                <a href="/jiajudai/sys/ad/delete/@item.Id" style="margin-left:30px;"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>

</section>

