@model List<Ingenious.DTO.G_BankDTO>
@{
    ViewBag.Title = "Index";
}

<ul class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li><a href="index.html"><i class="fa fa-home"></i> 银行管理</a></li>
    @*<li class="active">Workset</li>*@
</ul>
<section class="panel panel-default">
    <header class="panel-heading"> 银行列表 </header>
    <div class="row text-sm wrapper">
        <div class="col-sm-3 m-b-xs">
            <a class="btn btn-sm btn-primary" href="/jiajudai/sys/bank/create"> 新建银行</a>
            <a class="btn btn-sm btn-danger" id="btnDelete"> 删除</a>
        </div>
        <form id="userSearchForm" action="/jiajudai/sys/bank/index">

            <div class="col-sm-3 pull-right ">

                <div class="input-group">
                    <input type="text" placeholder="标题关键词" id="title" name="title" class="form-control" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-info btn-icon"><i class="fa fa-search"></i></button>
                    </span>
                </div>

            </div>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-striped b-t b-light text-sm">
            <thead>
                <tr>
                    <th width="20"><input type="checkbox"></th>
                    <th>排序</th>
                    <th>Logo</th>
                    <th>名称</th>
                    <th>编码</th>
                    <th>总行</th>
                    <th>自动分配订单</th>
                    <th>创建日期</th>
                    <th>状态</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in @Model)
                    {
                        <tr>
                            <td><input type="checkbox" bank value="@item.Id"></td>
                            <td>@item.Order</td>
                            <td><img src="@item.Logo" /> </td>
                            <td>@item.Name</td>
                            <td>@item.Code</td>
                            <td>@(item.IsAdmin?"√":"×")</td>
                            <td>@(item.IsAssignAuto ? "√" : "×")</td>
                            <td>
                                @{
                                    @Html.Raw(item.CreatedDate.ToString("yyyy-MM-dd"))
                                }
                            </td>
                            <td>
                                @(item.IsActive?"":"已删除")
                            </td>
                            <td>
                                <a href="/jiajudai/sys/bank/editbankoption/@item.Id">银行贷款事项</a>
                                <a href="/jiajudai/sys/user/bankuser/@item.Code" style="margin-left:30px;">用户管理</a>
                                <a href="/jiajudai/sys/bank/edit/@item.Id" style="margin-left:30px;"><i class="fa fa-edit"></i></a>
                                <a href="/jiajudai/sys/bank/delete/@item.Id" style="margin-left:30px;"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>

</section>

@section scripts{
    <script>
        $().ready(function () {
            $('#btnDelete').click(function () {
                if (!confirm('您确定要删除选中的项目吗？')) {
                    return false;
                }
                var ids = [];
                $('input[bank]:checked').each(function (i, ele) {
                    ids.push($(this).val());
                });
                if (ids.length == 0) {
                    return;
                }
                $.ajax({
                    url: '/jiajudai/sys/bank/delete',
                    data: { ids: ids },
                    traditional: true,
                    success: function (data) {
                        window.location.href = window.location.href;
                    },
                    error: function (arg1, arg2, arg3) {
                        alert(arg3);
                    }
                });
            });
        });
    </script>
}