@using Ingenious.Infrastructure.Extensions
@model Ingenious.DTO.UserDTOList
@{

}

@section scripts{

    <script>
        $().ready(function () {

            $('.fa.fa-fw.fa-search').click(function () {
                $('#userSearchForm').submit();
            });
            $('a[delete]').click(function () {
                var ids = [];
                $(':checkbox[code]:checked').each(function () {
                    ids.push($(this).attr('code'));
                });
                if (ids.length == 0) {
                    return;
                }
                $.ajax({
                    url: '/admin/user/disable',
                    data: { ids: ids },
                    traditional:true,
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (arg1, arg2, arg3) {
                        alert(arg3);
                    }
                });
            });
            $('a[resume]').click(function () {
                var id = $(this).attr('code');
                $.ajax({
                    url: '/admin/user/resume',
                    data: { id: id },
                    success: function (data) {
                        alert('操作成功');
                        window.location.reload();
                    },
                    error: function () {
                        alert('操作失败');
                    }
                });
            });
        });
    </script>
}
<ul class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li><a href="index.html"><i class="fa fa-home"></i> 用户管理</a></li>
    @*<li class="active">Workset</li>*@
</ul>
<section class="panel panel-default">
    <header class="panel-heading"> 用户列表 </header>
    <div class="row text-sm wrapper">
        <div class="col-sm-3 m-b-xs">
            <a class="btn btn-sm btn-primary" href="/admin/user/create"> 新建用户</a>
        </div>
        <form id="userSearchForm" action="/admin/user/index" method="post">

            @Html.EnumDropDownList(typeof(Ingenious.Infrastructure.Enum.UserStatusEnum), "", "class='input-sm form-control input-s-sm inline' name='Status' ", "")
            @Html.DropDownList("Department", (ViewBag.Departments as IEnumerable<SelectListItem>), new { @class = "input-sm form-control input-s-sm inline" })
            <div class="col-sm-3 pull-right ">

                <div class="input-group">
                    <input type="text" name="keywords" value="@ViewBag.keywords" class="form-control" placeholder="按姓名、用户名查找用户">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-info btn-icon"><i class="fa fa-search"></i></button>
                    </span>
                </div>

            </div>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-striped b-t b-light text-sm">
            <thead>
                <tr>
                    <th width="20"><input type="checkbox"></th>
                    <th>用户名</th>
                    <th>姓名</th>
                    <th>部门管理员</th>
                    <th>系统管理员</th>
                    <th>部门</th>
                    <th>创建日期</th>
                    <th>创建人</th>
                    <th>状态</th>
                    <th style="width:100px">操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in @Model)
                    {
                        if (item.UserName.ToLower().Equals("admin"))
                        {
                            <tr>
                                <td></td>
                                <td>@item.UserName</td>
                                <td>@item.Name</td>
                                <td>@Html.Raw(item.IsAdmin ? "<i class='fa fa-check'></i>" : "")</td>
                                <td>@Html.Raw(item.IsSupper ? "<i class='fa fa-check'></i>" : "")</td>
                                <td>@item.DepartmentName</td>
                                <td>@item.CreatedDate.ToString("yyyy-MM-dd")</td>
                                <td>@item.CreatedByUser.Name</td>
                                <td>@item.StatusName</td>
                                <td style="width:100px">
                                    <a title="超级管理员账号无法编辑">-</a>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td><input type="checkbox" code="@item.Id" value="3"></td>
                                <td>@item.UserName</td>
                                <td>@item.Name</td>
                                <td>@Html.Raw(item.IsAdmin ? "<i class='fa fa-check'></i>" : "")</td>
                                <td>@Html.Raw(item.IsSupper ? "<i class='fa fa-check'></i>" : "")</td>
                                <td>@item.DepartmentName</td>
                                <td>@item.CreatedDate.ToString("yyyy-MM-dd")</td>
                                <td>@item.CreatedByUser.Name</td>
                                <td>
                                    @item.StatusName
                                    @{
                            if (item.Status != Ingenious.Infrastructure.Enum.UserStatusEnum.Available)
                            {
                                <a resume class="resume" code="@item.Id">恢复账号</a>
                            }
                                    }
                                    
                                
                                </td>
                                <td style="width:100px">
                                    <a href="/admin/user/edit/@item.Id" title="编辑账号">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        }

                    }
                }
            </tbody>
        </table>
        <hr />
        <div style="margin-left:15px; margin-bottom:10px;">
            <a class="btn btn-danger" delete>批量冻结</a>
        </div>
    </div>

</section>

<div class="modal fade" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Idrawfast 02/2013</h4>
            </div>
            <div class="modal-body">
                <p>This is a table in a modal, click the trash icon to remove the item</p>
                <section class="panel panel-default m-l-n-md m-r-n-md m-b-none">
                    <header class="panel-heading"> <span class="label bg-danger pull-right">4 left</span> Tasks </header>
                    <table class="table table-striped m-b-none text-sm">
                        <thead>
                            <tr>
                                <th>Progress</th>
                                <th>Item</th>
                                <th width="20"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="item-1">
                                <td>
                                    <div class="progress progress-sm progress-striped active m-t-xs m-b-none">
                                        <div class="progress-bar progress-bar-success" data-toggle="tooltip" data-original-title="80%" style="width: 80%"></div>
                                    </div>
                                </td>
                                <td>App prototype design</td>
                                <td class="text-right"><a href="#item-1" data-dismiss="alert"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                            <tr id="item-2">
                                <td>
                                    <div class="progress progress-xs m-t-xs m-b-none">
                                        <div class="progress-bar progress-bar-info" data-toggle="tooltip" data-original-title="40%" style="width: 40%"></div>
                                    </div>
                                </td>
                                <td>Design documents</td>
                                <td class="text-right"><a href="#item-2" data-dismiss="alert"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                            <tr id="item-3">
                                <td>
                                    <div class="progress progress-xs m-t-xs m-b-none">
                                        <div class="progress-bar progress-bar-warning" data-toggle="tooltip" data-original-title="20%" style="width: 20%"></div>
                                    </div>
                                </td>
                                <td>UI toolkit</td>
                                <td class="text-right"><a href="#item-3" data-dismiss="alert"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                            <tr id="item-4">
                                <td>
                                    <div class="progress progress-xs m-t-xs m-b-none">
                                        <div class="progress-bar progress-bar-danger" data-toggle="tooltip" data-original-title="15%" style="width: 15%"></div>
                                    </div>
                                </td>
                                <td>Testing</td>
                                <td class="text-right"><a href="#item-4" data-dismiss="alert"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" data-loading-text="Updating...">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>